@import "tailwindcss";

:root {
  --font-inter: var(--font-inter);

  --ehs-light-bg: #f3f5f8;
  --ehs-dark-bg: #0b1320;

  --ehs-border: #e5e7eb;

  --ehs-icon-bg: #0891a620; /* IT IS OPAQUE */

  --ehs-light-text: #ffffff;

  --ehs-muted-text: #8892a3;
  --ehs-gray: #566072;

  --ehs-green: #10b981;
  --ehs-red: #ef4444;
  --ehs-yellow: #f59e0b;
  --ehs-navy: #1d3557;
  --ehs-purple: #7c3aed;

  --ehs-light-blue: #e6f4f6;
  --ehs-light-blue-hover: #daeff2;
  --ehs-light-blue-active: #b2dde3;

  --ehs-normal-blue: #0891a6;
  --ehs-normal-blue-hover: #078395;
  --ehs-normal-blue-active: #067485;

  --ehs-dark-blue: #066d7d;
  --ehs-dark-blue-hover: #055764;
  --ehs-dark-blue-active: #04414b;

  --ehs-darker: #03333a;
}

@theme inline {
  --color-ehs-light-bg: var(--ehs-light-bg);
  --color-ehs-dark-bg: var(--ehs-dark-bg);

  --color-ehs-border: var(--ehs-border);

  --color-ehs-icon-bg: var(--ehs-icon-bg);

  --color-ehs-light-text: var(--ehs-light-text);

  --color-ehs-muted-text: var(--ehs-muted-text);
  --color-ehs-gray: var(--ehs-gray);

  --color-ehs-green: var(--ehs-green);
  --color-ehs-red: var(--ehs-red);
  --color-ehs-yellow: var(--ehs-yellow);
  --color-ehs-navy: var(--ehs-navy);
  --color-ehs-purple: var(--ehs-purple);

  --color-ehs-light-blue: var(--ehs-light-blue);
  --color-ehs-light-blue-hover: var(--ehs-light-blue-hover);
  --color-ehs-light-blue-active: var(--ehs-light-blue-active);

  --color-ehs-normal-blue: var(--ehs-normal-blue);
  --color-ehs-normal-blue-hover: var(--ehs-normal-blue-hover);
  --color-ehs-normal-blue-active: var(--ehs-normal-blue-active);

  --color-ehs-dark-blue: var(--ehs-dark-blue);
  --color-ehs-dark-blue-hover: var(--ehs-dark-blue-hover);
  --color-ehs-dark-blue-active: var(--ehs-dark-blue-active);

  --color-ehs-darker: var(--ehs-darker);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-inter);
  min-height: 100vh;
}
